@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*:not(i) {
    font-family: 'Inter', sans-serif !important;
}

:root {
    --color-black: #282828;
}

table { border-top: 2px solid !important; }
table thead th { text-transform: uppercase !important; }
table tbody tr td a { color: var(--color-black) !important; }
table thead tr th.table-loop,
table tbody tr td.table-loop {
    text-align: center !important;
    color: gray !important;
}
table tbody tr:hover {
    background-color: #ececec;
}
.ui.button { margin: 7px 0; }
.space { margin-top: 50px; }

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #fdfdfd;
}

.layout {
    height: 100vh;
    display: grid;

    grid-template-columns: 280px 1fr;

    grid-template-rows: 80px 1fr;

    grid-template-areas:
    "logo topbar"
    "sidebar content";
}

.logo {
    grid-area: logo;
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f3f3f3;
}

.logo h1 {
    font-family: 'Orbitron', sans-serif !important;
    letter-spacing: 5px;
}

.logo img {
    width: 40px;
}

.topbar {
    grid-area: topbar;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.topbar h1 { font-weight: 400 !important; }

.sidebar {
    background-color: #f3f3f3;
    grid-area: sidebar;
    padding: 20px;
}

.sidebar nav ul { padding: 0; margin: 0; }

.sidebar nav ul a li {
    list-style-type: none;

    border-radius: 4px;

    margin: 10px;
    padding: 7px 5px 7px 10px;
    transition-duration: 0.3s;
}

.sidebar nav ul a li:hover {
    background-color: #ffffff;
    box-shadow: 0 1px 4px #b7b7b7;
}

.sidebar nav ul a li.active {
    background-color: #ffffff;
    box-shadow: 0 1px 4px #b7b7b7;
}

.sidebar nav ul a {
    color: var(--color-black);
    font-weight: 500;
}

.sidebar nav ul a li i {
    margin-right: 15px;
}

.content {
    grid-area: content;
    padding: 20px;
}

.logo,
.topbar,
.sidebar,
.content {
    border: 0.9px solid #ececec;
    padding: 16px;
}

.stats {
    display: flex;
    margin-top: 30px;
}

.stats a {
    color: inherit;
}

.stats .stat {
    border-top: 3px solid var(--color-black);
    box-shadow: 0 0 3px 0px gray;
    border-radius: 5px;
    margin-right: 20px;
    padding: 15px 20px 15px 20px;
    width: 150px;
}

.stats .stat .value {
    font-size: 28px;
    font-weight: bold;
}

.stats .stat .label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
}